In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd

In [ ]:
data =  pd.read_csv('/content/gdrive/MyDrive/dataset/IRIS.csv') 
data

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
odd=[x for x in range(1,100+1) if x %2!=0]
squares=[x**2 for x in odd]
total=sum(squares)
ratarata=total/len(squares)
print(total)
print(ratarata)

In [2]:
a = int(input("masukan a= "))
if a<100: #conditional form
    print('small value')
else:
    print('big value')

masukan a= 120
big value

In [4]:
while True:
  a = int(input("masukan a= "))
  if a<100:
    print('small value')
  else:
    print('big value')
    break

big value

In [6]:
pas= input("password= ")
panjang=len(pas)>=5
c8="8" in pas
cx= "X" in pas
char="@" in pas
if panjang!=True:
    print("terlalu pendek")
elif c8!=True:
    print("harus mengandung 8")
elif cx!=True:
    print("harus mengandng X")
elif char!=True:
    print("harus mengandng @")
else:
    print("password valid")

password= kampus merdeka x
harus mengandung 8

In [8]:
while True:
    pas= input("password= ")
    panjang=len(pas)>=5
    c8="8" in pas
    cx= "X" in pas
    char="@" in pas
    if panjang!=True:
        print("terlalu pendek")
    elif c8!=True:
        print("harus mengandung 8")
    elif cx!=True:
        print("harus mengandng X")
    elif char!=True:
        print("harus mengandng @")
    else:
        print("password valid")
        break

password= kampusX@8
password valid

In [18]:
count=0
contoh_list=['acc', 'xyz', 'aba', '1221']
for i in range(len(contoh_list)):
    if(contoh_list[i][0] == contoh_list[i][-1]):
        count += 1
print('jumlah string yg sama=',count)

jumlah string yg sama= 2

In [10]:
while True:
    kata=input("masukan kata= ")
    if kata == kata[::-1]:
        print("string merupakan palidrom")
        break
    else:
        print("string bukan palidrom")

masukan kata= sayur
string bukan palidrom
masukan kata= ini
string merupakan palidrom

In [11]:
def hitung(s):
    d={'upper':0,'lower':0}
    for x in s:
        if x.isupper():
            d['upper']+=1
        elif x.islower():
            d['lower']+=1
    print('string kalimat:', s)
    print('jumlah huruf kapital:',d['upper'])
    print('jumlah huruf kecil',d['lower'])
hitung('aAsssSWWWJHSJ')

string kalimat: aAsssSWWWJHSJ
jumlah huruf kapital: 9
jumlah huruf kecil 4

In [12]:
#Kata ganjil
list1=["ada","sapa","warga","kanopi","layang","tamu","kampus"]
for i in list1:
    if len(i)%2==1:
        print(i,end=" ")

ada warga

In [27]:
#kata genap
list1=["ada","sapa","warga","kanopi","layang","tamu"]
for i in list1:
    if len(i)%2==0:
        print(i,end=" ")

sapa kanopi layang tamu

In [ ]:
jamawal=8
menitawal=20
detikawal=15

jamakhir=10
menitakhir=10
detikakhir=30

waktu=((jamakhir*3600)+(menitakhir*60)+detikakhir)-((jamawal*3600)+(menitawal*60)+detikawal)

jam_perjalanan=waktu//3600
sisadetik=waktu%3600
menit_perjalanan=sisadetik//60 
detik_perjalanan=sisadetik%60

harga_perjam=jam_perjalanan*20
harga_permenit=menit_perjalanan*2
harga_perdetik=detik_perjalanan*1
biaya_perjalanan=harga_perjam+harga_permenit+harga_perdetik

print("waktu tempuh=",jam_perjalanan,"jam",menit_perjalanan,"menit",detik_perjalanan,"detik")
print("biaya perjalanan=",biaya_perjalanan,"$")